.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.usersList {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > *:nth-child(odd) {
    margin-right: 20px;
  }
}
