.inputContainer {
  display: flex;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--grey);
  padding: .2rem;
  font-size: 1.2rem;
}

.label {
  color: var(--grey);
  font-size: 1.3rem;
  display: inline-block;
  margin-bottom: .2rem;
}
